<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="VideoDownLoadGenerator.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HH" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!-- Live DB, ExternalIP-->
    <add name="LocalSqlServer" connectionString="Data Source=54.68.130.11;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e" providerName="System.Data.SqlClient"/>
    <add name="WMSConnectionString" connectionString="Data Source=54.68.130.11;Initial Catalog=WMS;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e;Connect Timeout=240;" providerName="System.Data.SqlClient"/>
    <!-- Live DB, InternalIP-->
    <!-- <add name="LocalSqlServer" connectionString="Data Source=172.40.1.57;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e" providerName="System.Data.SqlClient"/>
    <add name="WMSConnectionString" connectionString="Data Source=172.40.1.57;Initial Catalog=WMS;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e;Connect Timeout=240;" providerName="System.Data.SqlClient"/>-->
    <!-- Dev DB, ExternalIP-->
    <!--<add name="LocalSqlServer" connectionString="Data Source=ec2-52-36-29-225.us-west-2.compute.amazonaws.com;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e" providerName="System.Data.SqlClient"/>
    <add name="WMSConnectionString" connectionString="Data Source=ec2-52-36-29-225.us-west-2.compute.amazonaws.com;Initial Catalog=WMS;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e;Connect Timeout=240;" providerName="System.Data.SqlClient"/>-->
    <!-- Dev DB, InternalIP-->
    <!--<add name="LocalSqlServer" connectionString="Data Source=172.50.1.129;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e" providerName="System.Data.SqlClient"/>
    <add name="WMSConnectionString" connectionString="Data Source=172.50.1.129;Initial Catalog=WMS;Persist Security Info=True;User ID=lcweb;Password=qCa$*jO43d72J7e;Connect Timeout=240;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--<add key="AWSAccessKey" value="AKIAI3XWL42JKDLRHTOQ"/>
    <add key="AWSSecretKey" value="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"/>-->
    <add key="AWSAccessKey" value="AKIAI2DGW6COXSC6DPGA" />
    <add key="AWSSecretKey" value="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" />
    <!--<add key="originallocal" value="D:\videouploads\original\" />
    <add key="finallocal" value="D:\videouploads\final\" />
    <add key="ffmpeglocal" value="D:\ffmpeg\Mpeg\Mpeg\ffmpegS\ffmpeg.exe" />-->
    <add key="original" value="\\cfnas\videouploads\original\" />
    <add key="final" value="\\cfnas\videouploads\final\" />
    <add key="ffmpeg" value="D:\Programs\VideoDownloadGenerator\FFMPEG\ffmpeg.exe" />
    <!--<add key="APIUser" value="Photos"/> 
    <add key="APIKey" value="4e526921-648f-4aa8-814b-6179e39c8d54"/>
    <add key="APILocation" value="http://appapi.littlechapel.com/api/"/>-->
    <!--<add key="AWSAccessKey" value="AKIAJ5DJ4VEACHZPO3TA"/>
    <add key="AWSSecretKey" value="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"/>-->
    <!--<add key="AWSAccessKeyOne" value="0S13BTZXS6QJEPWH7CG2"/>
    <add key="AWSSecretKeyOne" value="FzPF2Q5eOAMs/C8FtW0hDfmmZke8OnVZhvxi7bsR"/>-->
    <!--<add key="AWSBucketOne" value="cof-wedding-videos"/>-->
    <!--<add key="VideoLocation" value="\\cfnas\VideoBackup\CeremonyVideos\"/>-->
    <!--<add key="DestinationDirectory" value="D:\Destination\"/>-->
    <add key="DestinationDirectory" value="\\cfnas\VideoBackup\CeremonyVideos\"/>
    <!--<add key="VideoLocation" value="D:\vid\"/>-->
    <add key="VideoBucketWedding" value="cof-wedding-videos"/>
    <!--<add key="VideoBucketWedding" value="s3uatphotouploader"/>-->
    <!--<add key="VideoBucketWedding" value="cof-purchased-download-uat"/>-->
    <!--<add key="VideoBucketWedding" value="cof-wedding-videos1"/>-->
    <!--<add key="WorkingDirectory" value="photos"/>//SendEmailToGuest(1141237);-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
